
header {
  display: flex;
  justify-content: space-between;
  max-width: 1800px;
  margin-top: 20px;
  padding: 0 20px;
  align-items: center;
  ul {
    display: flex;
    font-size: 2em;
    li {
      margin-right: 10px;
      a {
        color: #e7e1df;
        text-transform: uppercase;
      }
    }
  }
}@import "reset";@import "header";@import "footer";body {  margin: 0 auto;  font-family: 'Ubuntu', sans-serif;  font-size: 10px;}.wrapper {  width: 100%;  margin: 0 auto;}a {  text-decoration: none;}.first-block {  height: 100px;}.technology {  padding: 10px 0;  background: url("../../img/tech-back.jpg") top center no-repeat;}.technology-block {  display: flex;  justify-content: space-around;  flex-wrap: wrap;  width: 100%;  max-width: 1775px;  margin: 0 auto;}.tech-html {  width: 20%;  height: 495px;  background-color: rgba(240,240,240,0.5);}.tech-ajax {  width: 20%;  height: 730px;  background-color: rgba(240,240,240,0.5);}.tech-css {  width: 35%;  height: 240px;  background-color: rgba(240,240,240,0.5);}.tech-git {  width: 15%;  height: 240px;  background-color: rgba(240,240,240,0.5);}.tech-grunt {  width: 15%;  height: 240px;  background-color: rgba(240,240,240,0.5);}.tech-js {  width: 15%;  height: 240px;  background-color: rgba(240,240,240,0.5);}/* http://meyerweb.com/eric/tools/css/reset/ *//* v1.0 | 20080212 */html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td {  margin: 0;  padding: 0;  border: 0;  outline: 0;  font-size: 100%;  vertical-align: baseline;  background: transparent;}body {  line-height: 1;}ol, ul {  list-style: none;}blockquote, q {  quotes: none;}blockquote:before, blockquote:after,q:before, q:after {  content: '';  content: none;}/* remember to define focus styles! */:focus {  outline: 0;}/* remember to highlight inserts somehow! */ins {  text-decoration: none;}del {  text-decoration: line-through;}/* tables still need 'cellspacing="0"' in the markup */table {  border-collapse: collapse;  border-spacing: 0;}@import 'reset';
@import 'header';
@import 'footer';

$primary-color: #353535;
$primary-bg-color: #868686;
$light-color: #fff;
$title-size: 3.6em;
$h2-size: 3.2em;
$text-size: 2.4em;
$width-full: 100%;

@mixin title-text() {
  font-size: $title-size;
  text-transform: uppercase;
  text-align: center;
}

@mixin title-text-2() {
  margin-bottom: 35px;
  font-size: $h2-size;
  text-transform: uppercase;
  text-align: center;
}

@mixin text-settings() {
  font-size: $text-size;
  text-align: center;
}

body {
   font-family: Roboto, sans-serif;
   font-size: 10px;
 }

.title-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: $width-full;
  height: 500px;
  padding-top: 30px;
  background: url("../../img/key-bl1-bg.jpg") center top no-repeat;
  background-attachment: fixed;
  background-clip: initial;
  background-origin: initial;
  background-size: cover;

  .title-block-opacity {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: $width-full;
    height: inherit;
    background-color: $light-color;
    opacity: .6;

    .title-describ {
      max-width: 625px;
      padding-left: 50px;

      h1 {
        @include title-text();
        margin-bottom: 35px;
        font-weight: 600;
      }

      p {
        font-size: $text-size;
        text-indent: 1.5em;
        text-align: justify;
      }
    }
  }
}

.second-block {
  width: $width-full;
  height: 490px;
  padding: 20px 0;
  box-sizing: border-box;
  background-color: $primary-bg-color;

  .second-container {
    max-width: 16888px;
    width: $width-full;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .second-block-img {
      width: 45%;
      height: inherit;
      background: url("../../img/monitor-scan.png") no-repeat center center;
      background-size: contain;
    }

    .second-block-descr {
      width: 45%;

      h2 {
        @include title-text-2();
        color: $light-color;
      }

      p {
        @include text-settings();
        color: $light-color;
      }
    }
  }
}

.third-block {
  @extend .second-block;
  padding: 0;
  background-color: $light-color;

  .third-container {
    @extend .second-container;
    justify-content: flex-end;

    .third-block-descr {
      width: 45%;

      h2 {
        @include  title-text-2();
        color: $primary-color;
      }

      p {
        @include text-settings();
        color: $primary-color;
      }
    }

    .third-block-img {
      width: 50%;
      height: inherit;
      background: url("../../img/mobile-key.png") no-repeat center left;
     background-size: cover;
    }
  }
}

.fourth-block {
  @extend .second-block;

  .fourth-container {
    @extend .second-container;

    .fourth-block-img {
      width: 45%;
      height: inherit;
      background: url("../../img/popup-key.png") no-repeat center center;
      background-size: contain;
    }

    .fourth-block-descr {
      @extend .second-block-descr;
    }
  }
}@import "reset";@import "header";@import "footer";body {  margin: 0 auto;  font-family: 'Ubuntu', sans-serif;  font-size: 10px;}.wrapper {  width: 100%;  margin: 0 auto;}a {  text-decoration: none;}.first-block {  height: 100px;}.technology {  padding: 10px 0;  background: url("../../img/tech-back.jpg") top center no-repeat;}.technology-block {  display: flex;  justify-content: space-around;  flex-wrap: wrap;  width: 100%;  max-width: 1775px;  margin: 0 auto;}.tech-html {  width: 20%;  height: 495px;  background-color: rgba(240,240,240,0.5);}.tech-ajax {  width: 20%;  height: 730px;  background-color: rgba(240,240,240,0.5);}.tech-css {  width: 35%;  height: 240px;  background-color: rgba(240,240,240,0.5);}.tech-git {  width: 15%;  height: 240px;  background-color: rgba(240,240,240,0.5);}.tech-grunt {  width: 15%;  height: 240px;  background-color: rgba(240,240,240,0.5);}.tech-js {  width: 15%;  height: 240px;  background-color: rgba(240,240,240,0.5);}/* http://meyerweb.com/eric/tools/css/reset/ *//* v1.0 | 20080212 */html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td {  margin: 0;  padding: 0;  border: 0;  outline: 0;  font-size: 100%;  vertical-align: baseline;  background: transparent;}body {  line-height: 1;}ol, ul {  list-style: none;}blockquote, q {  quotes: none;}blockquote:before, blockquote:after,q:before, q:after {  content: '';  content: none;}/* remember to define focus styles! */:focus {  outline: 0;}/* remember to highlight inserts somehow! */ins {  text-decoration: none;}del {  text-decoration: line-through;}/* tables still need 'cellspacing="0"' in the markup */table {  border-collapse: collapse;  border-spacing: 0;}
header {
  display: flex;
  justify-content: space-between;
  max-width: 1800px;
  margin-top: 20px;
  padding: 0 20px;
  align-items: center;
  ul {
    display: flex;
    font-size: 2em;
    li {
      margin-right: 10px;
      a {
        color: #e7e1df;
        text-transform: uppercase;
      }
    }
  }
}