
header {
  display: flex;
  justify-content: space-between;
  max-width: 1800px;
  margin-top: 20px;
  padding: 0 20px;
  align-items: center;
  ul {
    display: flex;
    font-size: 2em;
    li {
      margin-right: 10px;
      a {
        color: #e7e1df;
        text-transform: uppercase;
      }
    }
  }
}