
header {
  display: flex;
  justify-content: space-between;
  max-width: 1800px;
  margin-top: 20px;
  padding: 0 20px;
  align-items: center;
  a.logo {
    display: flex;
    flex-wrap: wrap;
    width: 280px;
    text-transform: uppercase;
    font-size: 3.6em;
    .creative-logo {
      width: 67%;
      padding: 3px;
      color: #6a6461;
      text-align: center;
      box-sizing: border-box;
    }
    .web-logo {
      width: 33%;
      padding: 3px;
      background-color: #28b494;
      color: #fff;
      text-align: center;
      box-sizing: border-box;
    }
    .development-logo {
      width: 100%;
      padding: 3px;
      color: #fff;
      background-color: #28b494;
      box-sizing: border-box;
      text-align: center;
    }
  }
  ul {
    display: flex;
    font-size: 2em;
    li {
      margin-right: 10px;
      a {
        color: #e7e1df;
        text-transform: uppercase;
      }
    }
  }
}