@import "footer";
@import "header";
@import "reset";
@import "fonts";

$colorYellow: #f7b417;
$colorBlue: #487ec1;
$colorBrown: #47342d;
$fontSize: 2.4em;
$titleFontSizes: 3.6em;
$paddingInblock: 20px 0;

@mixin flexContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
@keyframes  title-block {
  20% {
    margin-right: 0;
  }
  30% {
    margin-right: 0;
    background-color: rgba(53, 53, 53, .6);
  }
  100% {
    margin-right: 0;
    background-color: rgba(53, 53, 53, .6);
  }
}
@keyframes title-text {
  15% {
    opacity: 1;
  }
  100% {
    opacity: 1;

  }
}
@keyframes mobile-width {
  100% {
    width: 176px;
  }
}
@keyframes mobile-mikrofon-width {
  100% {
    width: 70px;
    border-width: 1px;
  }
}
@keyframes mobile-button-width {
  100% {
    width: 12px;
    height: 12px;
  }
}
@keyframes mobile-btn-opacity-width {
  100% {
    opacity: 1;
  }
}
@keyframes mobile-img-width {
  100% {
    width: 166px;
    border: 1px solid #fff;
  }
}

@keyframes animate-pages {
  100% {
    margin-left: 0;
  }
}

@keyframes animate-pages-with-shadow {
  100% {
    -webkit-box-shadow: 7px 9px 24px -3px rgba(36,36,36,1);
    -moz-box-shadow: 7px 9px 24px -3px rgba(36,36,36,1);
    box-shadow: 7px 9px 24px -3px rgba(36,36,36,1);
  }
}

body {
  font-family: Roboto sans-serif;
  font-size: 10px;
}
.first-block-wrapper {
  width: 100%;
  height: 600px;
  padding-top: 5px;
  background: url(../../img/ohvat-bg-title.jpg) no-repeat right top fixed;
  background-clip: initial;
  background-origin: initial;
  background-size: cover;
  overflow: hidden;
  .ohvat-title-wrapper {
    float: right;
    margin-top: 80px;
    margin-right: -1500px;
    padding: 30px 0 30px 30px;
    background-color: rgba(53, 53, 53, 0);
    animation: title-block 4s .3s linear forwards;
    div {
      max-width: 700px;
      width: 100%;
      height: initial;
      h1 {
        opacity: 0;
        margin-bottom: 20px;
        font-size: $titleFontSizes;
        color: $colorYellow;
        animation: title-text 5s 1.8s linear forwards;
      }
      p {
        opacity: 0;
        font-size: $fontSize;
        color: $colorYellow;
        animation: title-text 5s 2.3s linear forwards;
      }
    }
  }
}
.ohvat-second-block {
  position: relative;
  width: 100%;
  height: initial;
  overflow: hidden;

  &::before {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    bottom: 0;
    border-width: 0 0 1300px 1920px;
    border-color: transparent transparent $colorBrown;
    box-sizing: border-box;
    z-index: -1;
    content: '';
  }

  .ohvat-screens {
    @include flexContainer();
    padding: $paddingInblock;
    z-index: 2;
    div {
      width: 45%;
      text-align: center;
      &.ohvat-screen-img {
        margin-left: -1800px;
      }
      &.ohvat-screen-descr {
        margin-right: -1800px;
      }
      img {
        width: 100%;
        height: auto;
      }
      div {
        min-width: 500px;
        width: 60%;
        margin: 0 auto;
        h2 {
          margin-bottom: 20px;
          font-size: $titleFontSizes;
          color: $colorBlue;
          text-align: start;
        }
        p {
          font-size: $fontSize;
          color: $colorBlue;
          text-align: start;
        }
      }
    }
  }
  .ohvat-mobile {
    width: 100%;
    padding: $paddingInblock;
    .ohvat-mobile-container {
      display: flex;
      justify-content: space-between;
      max-width: 1047px;
      width: 100%;
      height: 400px;
      margin: 0 auto;
      div {
        display: flex;
        justify-content: space-between;
        &.mobile-three-img {
          width: 60%;
          div:nth-child(2){
            align-self: flex-end;
          }
        }
        &.mobile-two-img {
          width: 40%;
          div:first-child {
            align-self: flex-end;
          }
        }
        .ohvat-mobile-img {
          position: relative;
          display: flex;
          justify-content: space-around;
          width: 0;
          height: 304px;
          margin: 0 auto;
          border-radius: 7px;
          background-color: #e7e1df;

          &.mobile-animation {
            animation: mobile-width 1s linear forwards;
            &::before {
              animation: mobile-mikrofon-width 1s 1s linear forwards;
            }
            &::after {
              animation: mobile-button-width .8s 2s linear forwards;
            }
            & div {
              animation: mobile-btn-opacity-width .5s 2.8s linear forwards;
            }
            & img {
              animation: mobile-img-width 1s 3s linear forwards;
            }
          }
          &::before {
            position: absolute;
            top: 15px;
            left: 0;
            right: 0;
            width: 0;
            height: 2px;
            margin: 0 auto;
            border-radius: 3px;
            border: 0 solid #fff;
            background-color: rgba(255, 255, 255, .25);
            content: '';
          }
          &::after {
            position: absolute;
            bottom: 13px;
            right: 0;
            left: 0;
            width: 0;
            height: 0;
            margin: 0 auto;
            border-radius: 50%;
            background-color: #fff;
            content: '';
          }
          div {
            position: absolute;
            bottom: 7px;
            right: 0;
            left: 0;
            width: 20px;
            height: 20px;
            margin: 0 auto;
            opacity: 0;
            border-radius: 50%;
            border: 2px solid #fff;
            background-color: transparent;
            content: '';
          }
          img {
            width: 0;
            margin-top: 25px;
            border: 0 solid #fff;
          }
        }
      }
    }
    .ohvat-mobile-content {
      max-width: 1200px;
      width: 98%;
      margin: 0 auto;
      padding: 40px 0;
      color: $colorYellow;
      h2 {
        margin-bottom: 30px;
        text-align: left;
        font-size: $titleFontSizes;
      }
      p {
        text-align: right;
        font-size: $fontSize;
      }
    }
  }
}
.ohvat-third-block {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 50px 0;
  .pages-blocks-wrapper {
    display: flex;
    align-items: stretch;
    width: 58%;

    &.animate-pages {
      animation: animate-pages-with-shadow 1s 3s linear forwards;
      .pages-container {
        animation: animate-pages 2.5s .3s linear forwards;
        div:first-child img {
          animation: animate-pages 1s 2s linear forwards;
        }
        div:nth-child(2) img {
          animation: animate-pages 1s 1.3s linear forwards;
        }
        div:nth-child(3) img {
          animation: animate-pages 1s 2.2s linear forwards;
        }
        div:last-child img {
          animation: animate-pages .6s 1.4s linear forwards;
        }
      }
    }
    .pages-container {
      display: flex;
      flex-wrap: wrap;
      width: 66.66%;
      margin-left: -1000px;
      div {
        width: 50%;
        overflow: hidden;
        &:first-child img {
          margin-left: -400px;
        }
        &:nth-child(2) img {
          margin-left: -200px;
        }
        &:nth-child(3) img {
          margin-left: -400px;
        }
        &:last-child img {
          margin-left: -200px;
        }
        img {
          display: block;
          width: 100%;
          height: auto;
        }
      }
    }
    .page-container {
      width: 33.34%;
      overflow: hidden;
      img {
        display: block;
        width: 100%;
      }
    }
  }
  .ohvat-pages-title {
    align-self: flex-start;
    width: 38%;
    margin: 0 auto;
    opacity: 0;
    &.animate-pages {
      animation: mobile-btn-opacity-width 2s linear forwards;
    }
    h2 {
      margin-bottom: 20px;
      font-size: $titleFontSizes;
      color: $colorBlue;
    }
    p {
      font-size: $fontSize;
      color: $colorBlue;
    }
  }
}

@media (min-width: 767px) and (max-width: 969px) {
  $titleFontSizes: 2.4em;
  $fontSize: 1.6em;

  .first-block-wrapper {
    height: 530px;
    .ohvat-title-wrapper {
      div {
        max-width: 550px;
        padding-right: 50px;
        h1 {
          font-size: $titleFontSizes;
        }
        p {
          font-size: $fontSize;
        }
      }
    }
  }
  .ohvat-second-block {
    .ohvat-screens {
      flex-direction: column;
      div {
        width: 90%;
        div {
          width: 100%;
          h2 {
            font-size: $titleFontSizes;
          }
          p {
            font-size: $fontSize;
            text-align: end;
          }
        }
      }
    }
    .ohvat-mobile {
      .ohvat-mobile-container {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 650px;
        div {
          &.mobile-three-img {
            min-width: 680px;
            width: 80%;
          }
          &.mobile-two-img {
            min-width: 470px;
            width: 55%;
          }
        }
      }
      .ohvat-mobile-content {
        h2 {
          font-size: $titleFontSizes;
        }
        p {
          font-size: $fontSize;
        }
      }
    }
  }
  .ohvat-third-block {
    flex-direction: column;
    padding-top: 0;
    .pages-blocks-wrapper {
      width: 100%;
    }
    .ohvat-pages-title {
      width: 98%;
      margin-top: 40px;
      h2 {
        font-size: $titleFontSizes;
      }
      p {
        font-size: $fontSize;
        text-align: end;
      }
    }
  }
}

@media (max-width: 766px) {
  $titleFontSizes: 1.8em;
  $fontSize: 1.4em;

  .first-block-wrapper {
    height: 530px;
    background-position: center top;
    .ohvat-title-wrapper {
      margin-top: 50px;
      div {
        min-width: 300px;
        max-width: 400px;
        width: 60%;
        padding-right: 20px;
        h1 {
          font-size: $titleFontSizes;
        }
        p {
          font-size: $fontSize;
        }
      }
    }
  }
  .ohvat-second-block {
    &::before {
      display: none;
    }
    .ohvat-screens {
      flex-direction: column;
      div {
        width: 90%;
        div {
          min-width: 300px;
          width: 100%;
          h2 {
            font-size: $titleFontSizes;
          }
          p {
            font-size: $fontSize;
            text-align: end;
          }
        }
      }
    }
    .ohvat-mobile {
      background-color: $colorBrown;
      .ohvat-mobile-container {
        flex-direction: row-reverse;
        max-width: 420px;
        height: 950px;
        div {
          flex-direction: column;
          .ohvat-mobile-img {
            transform: scale(.9) translateX(-9px);
          }
          &.mobile-three-img {
            width: 50%;
            div.ohvat-mobile-img {
              align-items: center;
              justify-content: flex-start;
            }
            div:nth-child(2) {
              align-self: inherit;
            }
          }
          &.mobile-two-img {
            justify-content: space-around;
            align-self: center;
            width: 50%;
            height: 70%;
            div.ohvat-mobile-img {
              align-items: center;
              justify-content: flex-start;
            }
            div:first-child {
              align-self: inherit;
            }
          }
        }
      }
      .ohvat-mobile-content {
        h2 {
          font-size: $titleFontSizes;
        }
        p {
          font-size: $fontSize;
        }
      }
    }
  }
  .ohvat-third-block {
    flex-direction: column;
    padding-top: 0;
    .pages-blocks-wrapper {
      width: 100%;
    }
    .ohvat-pages-title {
      width: 98%;
      margin-top: 40px;
      h2 {
        font-size: $titleFontSizes;
      }
      p {
        font-size: $fontSize;
        text-align: end;
      }
    }
  }
}