@import "reset";
@import "header";
@import "footer";

$desktop-border: #e7e1df;
$desktop-black: #4e4948;
$desktop-display-back: #bee8df;
$idea-block-back: #858282;

@mixin tech-hover() {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background-color: rgba(93, 91, 99, .78);
}

@mixin tech-hover-heading() {
  display: table;
  margin: 25px auto 0 auto;
  padding: 5px 7px;
  background: #33302f;
  color: #fff;
  text-transform: uppercase;
  font-size: 3.6em;
  text-align: center;
}

@mixin tech-hover-text() {
  margin: 25px auto 0 auto;
  width: 90%;
  font-size: 2.4em;
  color: #fff;
}

body {
  margin: 0 auto;
  font-family: 'Ubuntu', sans-serif;
  font-size: 10px;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.first-block {
  height: 100px;
}

.technology {
  padding: 10px 0;
  background: url("../../img/tech-back.jpg") top center no-repeat;
}

.technology-block {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1775px;
  margin: 0 auto;
}

.tech-block-main {
  width: 76%;
  display: flex;
  flex-direction: column;
}

.tech-block-main-middle {
  width: 73%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.tech-html {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 490px;
  background-color: rgba(240, 240, 240, 0.5);
  img {
    width: 50%;
  }
}

.tech-ajax {
  width: 24%;
  height: 740px;
  background-color: rgba(240, 240, 240, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  img {
    width: 90%;
  }
}

.tech-block-main-top {
  display: flex;
  justify-content: space-between;
  width: 98%;
  margin-bottom: 10px;
}

.tech-css {
  width: 67%;
  height: 240px;
  margin-bottom: 10px;
  background-color: rgba(240, 240, 240, 0.5);
  display: flex;
  justify-content: space-around;
  align-items: center;
  img {
    width: 27%;
  }
  .tech-css-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
  }
}

.tech-git {
  position: relative;
  width: 30%;
  height: 240px;
  background-color: rgba(240, 240, 240, 0.5);
  display: flex;
  align-items: center;
  img {
    width: 95%;
    margin: 0 auto;
  }
  .git-hover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    background-color: rgba(93, 91, 99, .78);
    .git-hover-heading {
      @include tech-hover-heading;
    }
    .git-hover-text {
      @include tech-hover-text;
    }
  }
  .git-hover:hover {
    opacity: 1;
  }
}

.tech-grunt {
  position: relative;
  width: 30%;
  height: 240px;
  background-color: rgba(240, 240, 240, 0.5);
  display: flex;
  align-items: center;
  .grunt-hover {
    @include tech-hover;
    .grunt-hover-heading {
      @include tech-hover-heading;
    }
    .grunt-hover-text {
      @include tech-hover-text;
    }
  }
  img {
    width: 65%;
    margin: 0 auto;
  }
  .grunt-hover:hover {
    opacity: 1;
  }
}

.tech-js {
  width: 67%;
  height: 240px;
  background-color: rgba(240, 240, 240, 0.5);
  display: flex;
  justify-content: space-around;
  align-items: center;
  img {
    width: 27%;
  }
  .tech-js-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 68%;
  }
}

.tech-block-main-bottom {
  display: flex;
  justify-content: space-between;
  width: 98%;
}

.tech-bootstrap {
  position: relative;
  width: 18%;
  height: 240px;
  background-color: rgba(240, 240, 240, 0.5);
  display: flex;
  align-items: center;
  .bootstrap-hover {
    @include tech-hover;
    .bootstrap-hover-heading {
      @include tech-hover-heading;
      font-size: 2.7em;
    }
    .bootstrap-hover-text {
      @include tech-hover-text;
    }
  }
  img {
    width: 95%;
    margin: 0 auto;
  }
  .bootstrap-hover:hover {
    opacity: 1;
  }
}

.tech-php {
  width: 38%;
  height: 240px;
  background-color: rgba(240, 240, 240, 0.5);
  display: flex;
  justify-content: space-around;
  align-items: center;
  img {
    width: 40%;
  }
  .tech-php-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55%;
  }
}

.tech-sass {
  position: relative;
  width: 20%;
  height: 240px;
  background-color: rgba(240, 240, 240, 0.5);
  display: flex;
  align-items: center;
  .sass-hover {
    @include tech-hover;
    .sass-hover-heading {
      @include tech-hover-heading;
    }
    .sass-hover-text {
      @include tech-hover-text;
    }
  }
  img {
    width: 95%;
    margin: 0 auto;
  }
  .sass-hover:hover {
    opacity: 1;
  }
}

.tech-ps {
  position: relative;
  width: 20%;
  height: 240px;
  background-color: rgba(240, 240, 240, 0.5);
  display: flex;
  align-items: center;
  .ps-hover {
    @include tech-hover;
    .ps-hover-heading {
      @include tech-hover-heading;
    }
    .ps-hover-text {
      @include tech-hover-text;
    }
  }
  img {
    width: 90%;
    margin: 0 auto;
  }
  .ps-hover:hover {
    opacity: 1;
  }
}

.html-heading {
  display: inline-block;
  margin: 25px auto 0 auto;
  padding: 5px 7px;
  background: #fff;
  text-transform: uppercase;
  font-size: 3.6em;
  text-align: center;
}

.html-text {
  margin: 25px auto 0 auto;
  width: 90%;
  font-size: 2.4em;
}

/**--------------------portfolio----------------*/

@keyframes port-anim {
  from	{ opacity: 0 }
  to	{ opacity: 1 }
}

@keyframes before-move {
  from {width: 1px;}
  to {width: 90px;}
}

@keyframes after-move {
  from {width: 1px;}
  to {width: 140px;}
}

.portfolio {
  margin: 0 auto;
}

.portfolio-h1 {
  width: 475px;
  margin: 50px auto;
  padding-bottom: 10px;
  border-bottom: 2px solid #28b494;
  color: #28b494;
  font-size: 4em;
  text-transform: uppercase;
  text-align: center;
}

.portfolio-key {
  display: flex;
  justify-content: space-between;
  max-width: 1350px;
  margin-top: 25px;
  padding: 0 10px 0 10px;
  .portfolio-desktop-no-before {
    position: relative;
    width: 50%;
    display: none;
    img {
      display: block;
      margin: 0 auto;
      animation-name: bounce;
      animation-duration: 3s;
    }
  }
  .portfolio-desktop {
    position: relative;
    width: 50%;
    //border: 15px solid $desktop-border;
    //border-bottom: 30px solid $desktop-border;
    //border-radius: 15px;

      img {
        display: block;
        margin: 0 auto;
        animation-name: port-anim;
        animation-duration: 1s;
        animation-timing-function: linear;
      }
      &::before {
        position: absolute;
        top: 353px;
        left: 0;
        right: 0;
        width: 90px;
        height: 35px;
        margin: 0 auto;
        border-radius: 3px;
        border: 1px solid #fff;
        background-color: $desktop-border;
        content: '';
        animation-name: before-move;
        animation-duration: 1s;
        animation-timing-function: linear;
      }
      &::after {
        animation-name: after-move;
        animation-duration: 1s;
        animation-timing-function: linear;
        position: absolute;
        top: 391px;
        left: 0;
        right: 0;
        width: 140px;
        height: 8px;
        margin: 0 auto;
        border-radius: 3px;
        border: 1px solid #fff;
        background-color: $desktop-border;
        content: '';
      }
    &.active-no-before {
      font-size: 2em;
      &::before {
        display: none;
      }
      &::after {
        display: none;
      }
    }

  }

  .portfolio-key-info div {
    text-align: right;
    color: $desktop-black;
  }
  button {
    margin-top: 70px;
    margin-bottom: 50px;
    padding: 12px 100px;
    border-radius: 5px;
    color: #fff;
    background: #e7e1df;
    text-align: center;
  }
  button:hover {
    background: #353535;
  }
  .portfolio-key-info-h1 {
    font-size: 3.2em;
  }

  .portfolio-key-info-h2 {
    font-size: 2.4em;
    margin-top: 35px;
  }

  .portfolio-key-info-text {
    width: 530px;
    margin-top: 65px;
    font-size: 2.4em;
  }

  .portfolio-key-info-text2 {
    margin-top: 35px;
    font-size: 2.4em;
  }

}

.portfolio-display {
  background: $desktop-display-back;
  margin-top: 10px;
  padding: 10px 0;
  ul {
    text-align: center;
    li {
      display: inline-block;
      font-size: 3.2em;
      margin: 0 10px;
      color: #ffffff;
      cursor: pointer;
    }
    .desktop-active {
      color: $desktop-black;
    }
  }
}

/**--------------------idea----------------*/

@keyframes idea-img-hover {
  from	{ transform: scale(1.2);}
  to	{ transform: scale(1);}
}

.idea {
  .idea-line {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    .idea-line-img-block {
      width: 25%;
      height: 315px;
      overflow: hidden;
      img {
        transform: scale(1.2);
        height: 315px;
      }
    }
    .idea-line-img-block:hover img {
      animation-name: idea-img-hover;
      animation-duration: 5s;
      animation-timing-function: linear;
    }
    .idea-line-block {
      width: 25%;
      height: 315px;
      background-color: $idea-block-back;
      .idea-line-block-h1 {
        text-align: center;
        margin: 40px auto 0 auto;
        border-bottom: 2px solid #fff;
        color: #fff;
        font-size: 3em;
        padding-bottom: 15px;
        width: 90%;
      }
      .idea-line-block-text {
        width: 80%;
        text-align: center;
        margin: 40px auto 0 auto;
        color: #fff;
        font-size: 1.4em;
      }
    }
  }

}


@media (max-width: 996px) {

}

@media (min-width: 320px) and (max-width: 767px) {

}

